@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(45deg, #00853e, #50c878);
    position: relative;
  }
  
  a {
    color: #00B7FF;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .div-left{
    background-color: #242628;
    width: 400px;
    height: 400px;
    border-right: 2px solid white;
    padding: 20px 40px;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
  }
  .div-right{
    background-color: #242628;
    width: 400px;
    height: 400px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
  }
  h1{
    color: #33FFFF;
  }
  p{
    color: white;
    margin-top: 20px;
    font-size: medium;
  }
  .social{
    margin-top: 60px;
  }
  .social i{
    color: white;
    font-size: xx-large;
    margin: 0 20px;
    transition: 0.5s;
  }
  .social i:hover{
    color: yellow;
  }